<article class="movie">
  <h1 class="movie__headers">{{ movie.attributes.title }}</h1>
  <div class="intro">
    {{{ movie.attributes.intro }}}
  </div>
  {{#if movie.attributes.image }}
  <img src="{{ movie.attributes.image.url }}">
  {{/if }}
</article>